version: '3.8'

services:
  backend-api:
    build:
      context: ./VISNAM_Simple_POS_BE
      dockerfile: Dockerfile
    ports:
      - "5000:8080"  
    environment:
      - ASPNETCORE_ENVIRONMENT=Development

  frontend-web:
    build:
      context: ./VISNAM_Simple_POS_FE
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - backend-api